body,
#root,
.layout {
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
}

main {
  width: 66vw;
  flex: 1;
  margin: 1em auto;
  align-content: center;
  justify-content: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
  align-items: center;

  ul {
    padding-left: 0;
    list-style: none;
    flex-direction: row;
    font-family: 'helvetica', sans-serif;
    font-size: 12px;
    display: flex;

    li {
      margin-top: 3em;
      font-family: 'Montserrat', sans-serif;
    }

    &.logo li {
      margin-right: 20px;
      text-decoration: none;
    }

    &.nav li {
      margin-left: 20px;
      text-decoration: none;
      font-size: 15px;
    }
  }
}

a {
  color: black;
  text-decoration: none;
  margin: 1em auto;
}

a:hover {
  color: #54c3c0;
}

p {
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 1em;
  margin: 1em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 60px;
  text-align: center;
}

section ul {
  list-style: none;
}

section th {
  text-align: center;
}

footer {

  p {
    font-size: 13px;
    text-align: center;
    color: lightgrey;
  }
}
