.categories {
  ul {
    list-style: none;
    padding-left: 0;
    display: flex;

    li {
      flex: 1;
      text-align: center;
    }
  }

  a:link {
    text-decoration: none;

    &.active {
      font-weight: bold;
      color: #54c3c0;
    }
  }
}

a {
  font-family: 'Montserrat', sans-serif;
}

tr {
  text-align: center;
  list-style: none;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;

  th {
    padding: 5px;
  }

  td {
    padding: 20px;
  }
}
